html{
margin: 0;
padding: 0;
width: 100%;

}

body{
margin: 0px;
padding: 0px;
width: 100%;
height: 100vh;
background: url(bgimage.jpeg) no-repeat 50% 50%;
background-size: cover;
display: table;
}

.nav{
text-align: center;
margin-top: 40px;
}
li{
list-style: none;
display: inline-block;
}
a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: montserrat;
    font-weight: lighter;
    padding: 16px 40px;
    font-size: 35px;
}

.logo{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);

}
img{
    width: 70px;
}

.header{

    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header h1 {

    color: #fff;
    font-family: Satisfy;
    font-size: 50px;
    text-transform: uppercase;
}

.tagline{
position: absolute;
top: 56%;
left: 50%;
transform: translate(-50%, -50%);

}
.tagline p{
color: #fff;
font-family: montserrat;
letter-spacing: 16px;
font-weight: lighter;
text-transform: uppercase;    
}

.btn{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

}

button{
    padding: 16px 42px;
    font-family: montserrat;
    font-weight: 300;
    text-transform: uppercase;
    background: rgba(0,0,0,0);
    color: #fff;
    transition: .3s;
    font-size: 18px;
    border: 1px solid #fff;


}

button:hover{
    transition: .3s;
    background: #fff;
    color: #000;
}