html,
body,
header,
#intro{
    height:100%;
}

#intro{
    background: url(../img/bgimg.jpg) no-repeat center center fixed;
    -webkit-animation-size:cover;
    -moz-animation-size:cover;
    -o-animation-size:cover;
    background-size:cover;
}