html,
body,
header,
#intro{
    height:100%;
}

#intro{
    background: url(https://images.pexels.com/photos/34950/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350) no-repeat center center fixed;
    -webkit-animation-size:cover;
    -moz-animation-size:cover;
    -o-animation-size:cover;
    background-size:cover;
}